.thumbnail-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.card,
.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.product-image-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.product-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card .btn-secondary {
  width: 100%;
}

@media (min-width: 768px) {
  .thumbnail-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .product-image-container {
    height: 400px;
  }
}
