.checkout-main-container {
  max-width: 600px;
}

.first-last-name,
.input-card-details,
.delivery-postal {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-4);
}

.input-group {
  width: 100%;
}

.payment-methods-container {
  font-size: 22px;
  width: fit-content;
  padding: var(--spacing-8) var(--spacing-4);
  color: var(--color-primary-dark);
  border: 0.5px solid var(--color-gray);
  margin-bottom: var(--spacing-8);
  display: flex;
  flex-direction: row-reverse;
  gap: var(--spacing-8);
}
.btn-checkout {
  width: 100%;
}
