@import "./product-carousel.css";
@import "./allProducts.css";
@import "./product.css";
@import "./variables.css";
@import "./hero.css";
@import "./success.css";
@import "./cart.css";
@import "./checkout.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  background: var(--color-primary);
  font-family: var(--font-default);
  font-size: var(--fontsize-17);
  color: var(--color-primary-dark);

  @media (min-width: 768px) {
    font-size: var(--fontsize-18);
  }
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--spacing-16);
  min-height: 100vh;
}

button,
label,
input,
a,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  font-family: var(--font-default);
  font-weight: var(--fontweight-thin);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.5px;
}

/* Typography */
h1,
.h2-large {
  font-family: var(--font-headings);
  font-weight: var(--fontweight-normal);
  font-size: var(--fontsize-20);

  @media (min-width: 768px) {
    font-size: var(--fontsize-35);
  }
}

h2,
p,
label {
  font-weight: var(--fontweight-thin);
}

h2 {
  font-size: var(--fontsize-17);
}

/* Buttons */
button {
  cursor: pointer;
  font-weight: var(--fontweight-thin);
  transition: all 0.3s ease-in-out;
}

.btn-main {
  padding: var(--spacing-4) var(--spacing-8);
  border: solid 0.5px transparent;
  background-color: var(--color-primary-dark);
  color: var(--color-secondary);
}

.btn-main:hover {
  background: var(--color-primary);
  border: solid 0.5px var(--color-dark-gray);
  color: var(--color-primary-dark);
}

/* Secondary button */
.btn-secondary {
  padding: var(--spacing-4) var(--spacing-8);
  background: var(--color-primary);
  border: solid 0.5px var(--color-dark-gray);
  color: var(--color-primary-dark);
}

.btn-secondary:hover {
  border: solid 0.5px transparent;
  background-color: var(--color-primary-dark);
  color: var(--color-secondary);
}

.btn-main:disabled {
  opacity: 50%;
  pointer-events: none;
  cursor: not-allowed;
}

/* Form Styling */
input,
textarea,
select {
  width: 100%;
  padding: var(--spacing-8) var(--spacing-4);
  color: var(--color-primary-dark);
  border: 0.5px solid var(--color-gray);
  margin-bottom: var(--spacing-8);
}

input:hover {
  background: var(--color-secondary);
  border: 0.5px solid var(--color-gray);
}

input:focus,
textarea:focus {
  background: var(--color-secondary);
  border: 0.5px solid var(--color-primary-dark);
}

.input-error {
  border: 1px solid var(--color-red);
}

/* Header */
.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--spacing-24);
  border-bottom: solid 0.5px var(--color-gray);
}
.main-navigation ul {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
}

.main-navigation li {
  font-size: var(--spacing-24);
}

.logo {
  max-width: 100px;
}

/* Cart counter on shopping cart icon in nav */
.cart-icon-wrapper {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -14px;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  background: var(--color-primary-dark);
  color: #fff;
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Footer */
footer {
  text-align: left;
  padding: var(--spacing-24);
  margin-top: var(--spacing-32);
  background: var(--color-primary);
  border-top: 0.5px solid var(--color-gray);
}

/* Error and success */
.success-text {
  color: var(--color-primary-dark);
}

.error-text {
  color: var(--color-red);
}
