.hero-section {
  height: 600px;
  background-image: linear-gradient(rgb(0, 0, 0, 30%), rgb(0, 0, 0, 30%)),
    url("../images/pexels-cottonbro-9154883.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-8);
  color: white;
  text-align: center;
}

.hero-section p {
  font-size: var(--fontsize-20);
  font-weight: var(--fontweight-normal);
}

.btn-secondary.btn-hero-section {
  padding: var(--spacing-8) var(--spacing-16);
}
