.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-24);
  overflow: hidden;
  position: relative;
  max-width: 400px;
  margin-bottom: 30px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 100%;
  }
}

.carousel__content {
  display: flex;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
}

.carousel__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  width: 100%;
  height: 400px;
  text-align: center;
  gap: var(--spacing-8);
  margin-top: var(--spacing-24);

  @media (min-width: 768px) {
    height: 500px;
  }
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: fit-content;
  width: fit-content;
  z-index: 99999;
  font-size: 20px;
  padding: var(--spacing-8);
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  margin: var(--spacing-8);
}

.carousel__btn i {
  color: var(--color-primary-dark);
  font-size: var(--fontsize-18);
  font-weight: var(--fontweight-400);
}

.carousel__btn--left {
  left: 10px;
}

.carousel__btn--right {
  right: 10px;
}

.view-product-btn {
  width: fit-content;
  align-self: center;
}

.carousel-product-image-container {
  height: 80%;
  margin: 0 10px;

  @media (min-width: 768px) {
    height: 400px;
    margin: 0 20px;
  }
}

.carousel-product-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel__status {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
