.product-details-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-16);

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: start;
  }
}

.details-container {
  width: 100%;
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  width: 100%;
}

.product-img {
  height: 400px;
  width: 100%;
  background-color: var(--color-gray);
  overflow: hidden;

  @media (min-width: 768px) {
    height: 500px;
  }
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.discounted-price {
  color: var(--color-red);
}

.product-actions-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.product-actions-container .btn-main {
  width: 100%;
}

.product-title-price {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.reviews-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  margin-bottom: var(--spacing-16);
}

.customer-review-container {
  padding: var(--spacing-8);
  border: solid 0.5px var(--color-dark-gray);
  margin-bottom: var(--spacing-8);
}

.tags-container {
  width: 100%;
  display: flex;
  gap: var(--spacing-8);
  flex-wrap: wrap;
}

.tag {
  display: inline-block;
  padding: var(--spacing-4) var(--spacing-8);
  border: solid 0.5px;
  border-radius: 999px;
}
