.success-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--spacing-16);

  @media (min-width: 768px) {
    gap: var(--spacing-32);
  }
}

.btn-secondary.back-to-home-btn {
  width: fit-content;
  align-self: center;
  padding: var(--spacing-8) var(--spacing-16);
}
